#content #baselayer-image-selector {
    width:62px;
    height:62px;
    position:absolute;
    bottom:50px;
    right:250px;
    z-index:1000;
    border:2px solid white;
    border-radius:4px;
    background-image:url(osm-toner.png);
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow: 2px 2px 2px 2px #aaa;
    cursor:pointer;
}
#content #baselayer-image-selector.with-overview-box {
    right:240px;
}
#content.mobile #baselayer-image-selector {
    bottom:none;
    right:none;
    left: 10px;
    top: 10px;
}
#switcher-baselayer{
    display:none;
}
