.nav-local-type{
    display:flex!important;
    justify-content:center;
    margin:10px;
}

.nav-link.local-type{
    padding:10px;
    color:black;
    margin:10px;
    border:none;
}

.nav-link.local-type.active{
    background-color : rgba(138, 42, 115,0.7) !important;
    color:white;
    border:1px solid black;
    border-radius:10px;
}

